.navbar{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.Navbar_1{
    width: 15%;
    text-align: center;
}

.Navbar_1 button{
    margin: 0 10px;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
    border-left: 1px solid grey;
    padding-left: 25px;
}

.Navbar_1 button svg{
    font-size: 30px;
    color: rgb(46, 44, 44);
}

.Navbar_1 button:hover svg{
    color: rgb(185, 185, 185);
}
