.navbar{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar button{
    outline: none;
    color: rgb(0, 0, 0);
    border: none;
    background-color: transparent;
    height: 100%;
    width: 5%;
    padding: 2%;
    cursor: pointer;

    display: flex;
    justify-content: stretch;
}

.navbar button:hover{
    opacity: .8;
}