.search{
    width: 50%;
    border: 1px solid rgba(90, 79, 79, 0.212);
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-radius: 5px;
    position: relative;
}

.search input{
    width: 85%;
    height: 100%;
    outline: none;
    color: black;
    border: none;

    box-sizing: border-box;
    padding: 0 15px;
}

.search input::placeholder{
    color: grey;
}

.search button{
    outline: none;
    width: 15%;
    height: 100%;
    border: none;
    color: white;
    background: rgb(51, 112, 243);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search button svg{
    font-size: 20px;
}

.search button:hover{
    opacity: .8;
}

.search_wrapper{
    position: absolute;
    left: 0;
    background: white;
    box-shadow: 0px 0px 0px 3px rgb(184, 183, 183);
    width: 100%;
    border-radius: 5px;
    display: none;
    height: 200px;
    bottom: -205px;
    overflow-y: scroll;
}

.search_wrapper_child{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.search_wrapper_child img{
    width: 30%;
    height: 100%;
    object-fit: cover;
}
.search_wrapper_child body{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
}

.search_wrapper_child body span{
    color: rgb(51, 112, 243);
    margin-left: 10px;
}